<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />    
    <script type="text/javascript" src="angular.js"></script> 
    <script type="text/javascript" src="controller.js"></script>  
</head>
    <body ng-app>
        <div ng-controller="BienvenidaController">
           
             <input ng-model="restaurante"/>
            <input ng:model="restaurante"/>
            <input ng_model="restaurante"/>
            <input ng-Model="restaurante"/>
            <input x-ng:model="restaurante"/>
            
            <input data-ng-model="restaurante"/>
        
        </div>
       
    </body>
</html>



